<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Postlarımız</title>
</head>
<body>


<table border="1" align="center">
     {% for BlogPost in posts %}
     <tr>
         <th bgcolor="#f5f5dc" >Başlık</th>
         <td bgcolor="#ffe4c4" align="center">{{ BlogPost.title }}</td>
     </tr>
     <tr>
         <th>Yazar Adı</th>
         <td align="right">{{ BlogPost.blogUser.user.get_full_name }}</td>
     </tr>
     <tr>
         <th height="50px" width="100px">İçerik</th>
         <td bgcolor="#b0c4de">{{ BlogPost.content }}</td>
     </tr>
     <tr>
         <th height="50px" width="100px">Yorum</th>

         {% for cmmnt in BlogPost.comments.all %}
         <td>{{  cmmnt.comment }}</td>

     <tr>
         <th>Yorumcu</th>
         <td align="right" >{{ cmmnt.userProfile.user.get_full_name }}</td>
      </tr>
         {% endfor %}
     </tr>


     {% endfor %}
</table>





</body>
</html>