<!DOCTYPE html>
<html>
<head>
    <title>Kullanıcı Listesi</title>
</head>
<body>

{% if request.user.is_authenticated %}
    <h3>Hoş geldin {{request.user.first_name}}
                    {{request.user.last_name}}</h3>

    <a href="/accounts/logout/">Çıkış</a>
{% endif %}


<table border="1" align="center">
    <tr><th height="50px" width="100px">Adi</th>
        <th height="50px" width="100px">Soyadi</th>
        <th height="50px" width="100px">Telefon</th>
        <th height="50px" width="190px">E-Posta</th>
    </tr>

    {% for UserProfile in users %}
    <tr>
        <td height="30px">{{ UserProfile.user.first_name }}</td>
        <td>{{ UserProfile.user.last_name }}</td>
        <td>{{ UserProfile.phone }}</td>
        <td>{{ UserProfile.user.email }}</td>
    </tr>
    {% endfor %}


</table>


<div><a href="/UserProfile/">Profilim</div>

</body>
</html>