<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>User Profil</title>





</head>
<body>

<h1>Profilim</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <table border="1">
             <h2>Hoş geldin {{ user.get_full_name }} </h2>

            {{ form }}
        </table>
    <div><a href="/accounts/password" target="_blank">Şifre Değiştir</a></div>
    </form>




<a href="/accounts/logout/">Çıkış</a>

</body>
</html>